@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: white;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Domaine-Display */
@font-face {
  font-display: swap;
  font-family: "Domaine-Display-Medium";
  src: url("../asset/fonts/domaine-disp-medium.otf");
}

/* Mark-Simonson-Proxima-Nova */
@font-face {
  font-display: swap;
  font-family: "Mark-Simonson-Proxima-Nova-Regular";
  src: url("../asset/fonts/Mark-Simonson-Proxima-Nova-Regular.otf");
}

@font-face {
  font-display: swap;
  font-family: "Mark-Simonson-Proxima-Nova-Semibold";
  src: url("../asset/fonts/Mark-Simonson-Proxima-Nova-Semibold.otf");
}

.h1 {
  font-family: "Domaine-Display-Medium";
  font-size: 64px;
  line-height: 108%;
  letter-spacing: 0px;
}

.h2 {
  font-family: "Domaine-Display-Medium";
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -2px;
}

.h3 {
  font-family: "Domaine-Display-Medium";
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -1px;
}

.h4 {
  font-family: "Domaine-Display-Medium";
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.8px;
}

.h5 {
  font-family: "Domaine-Display-Medium";
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
}

.tb {
  font-family: "Mark-Simonson-Proxima-Nova-Semibold";
  font-size: 14px;
  line-height: 150%; /* 21px */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ts {
  font-family: "Mark-Simonson-Proxima-Nova-Semibold";
  font-size: 12px;
  line-height: 150%; /* 18px */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.bt {
  font-family: "Mark-Simonson-Proxima-Nova-Regular";
  font-size: 18px;
  line-height: 150%; /* 27px */
  letter-spacing: 0px;
}

.bs {
  font-family: "Mark-Simonson-Proxima-Nova-Regular";
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

.bq {
  font-family: "Domaine-Display-Medium";
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
}

.carousel-images {
  position: relative;
  border-radius: 10px;
  height: 400px;
  max-width: 650px;
  margin: auto;
  overflow: hidden;
}
.carousel-images img {
  width: 99%;
  height: 99%;
  border-radius: 8px;
  border: #ff00008e solid 2px;
}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  background-color: #fb666675;
  color: #fff;
  padding: 10px 8px 8px 13px;
  margin: 0 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 25px;
  width: 25px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.active {
  background-color: #fa2020;
}

.calc-l-m {
  margin-left: calc(calc(100% - 1084px) / 2);
}

.calc-r-p {
  padding-right: calc(calc(100% - 1084px) / 2);
}

@media (max-width: 1084px) {
  .calc-l-m {
    margin-left: 20px;
  }
  .calc-r-p {
    padding-right: 20px;
  }
}

.line-heart {
  height: 1px;
  background-image: linear-gradient(
    90deg,
    #d9d9d9 0%,
    #00856f 61.5%,
    #d9d9d9 100%
  );
}
